@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Ubuntu&display=swap');


.container {
  background-color: rgb(217, 212, 212);
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.log {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.btns {
  border-radius: 5px;  
  font-family: 'Prompt', sans-serif;
  width: 30%;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
}

.btns:hover {
  color:black;
  background-color: transparent;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: black;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: white;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .8rem;
  line-height: 1.15;
  text-align: left;
  background-color: rgb(10, 169, 10);
  font-family: 'Russo One', sans-serif;
}
