.productContainer {
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    color: grey;
    align-items: center;
    text-align: center;
    border-radius: .8rem;
    border: .05rem solid rgb(209, 204, 204);
}

.productContainer:hover {
    box-shadow: 0 10px 15px 1px rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 15%);
  }

.productImg {
    margin-top: 10px;
    width: 60%;
    height: auto;
}

.productImg:hover {
    cursor: pointer;
}

.productName {
    font-size: 16px;
    padding: 0 10px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productPrice {
    margin: 0;
    color: #333;
}
.moneySign {
    color: rgb(41, 41, 163);
}
.productBtn {
    background-color: rgb(243, 243, 15);
    color: red;
    border-radius: 2rem;
    font-weight: bolder;
    margin-bottom: 12px;
}

.adminbts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnAdmDel {
    background-color: grey;
    border-radius: 0.4rem;
    border: 0;
    font-size: larger;
}

.btnAdmDel:hover {
    background-color: rgb(177, 58, 58);
}

.editImg{
    width: 45px;
    height: auto;
    margin: -8px;
    margin-bottom: -12px;
    border: none;
}